.logo {
    width: 40%;
    padding-top: 15px;
}

.brand {
    color: #997564;
    text-decoration: none;
}

.container-fluid{
    background-color: #f3f3f3;
}

.nav-item {
    text-decoration: none;
    color: #997564;
}

.nav-item a{
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
    color: #997564;
}
