.logo {
    width: 10%;
}

.brand {
    color: #997564;
    text-decoration: none;
}

.nav-item {
    text-decoration: none;
    color: #997564;
}

.nav-link{
    text-decoration: none;
    color: #997564;
}